:root {
     /* Make color variables to make theme's easy  */

    --linear-color1: rgb(0, 0, 0);
    --linear-color2: rgb(17, 1, 43);

    --color1: black;
    --color2: white;
    --color3: rgb(226, 219, 219);

    --shadow-color1: rgb(48, 43, 70);
    --shadow-color2: grey;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 30px 0;

    min-width: 100vw;
    max-width: 100vw;
    min-height: 100vh;

    font-family: Helvetica, sans-serif;

    background: linear-gradient(var(--linear-color1), var(--linear-color2), var(--linear-color1));
    color: var(--color1);

    display: flex;
    justify-content: center;
    align-items: center;
}

.button-container {
    width: 100%;
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#theme {
    width: 76px;
    height: 40px;
    border-radius: 40px;
    border: 0;
    background-color: var(--shadow-color1);
   
    padding: 8px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#circle {
    display: inline-block;

    border-radius: 50%;
    height: 25px;
    width: 25px;
    background-color: var(--color2);

    position: relative;
    z-index: 2;

    transition: transform 0.5s ease;
}

.container {
    box-shadow: 12px 12px var(--shadow-color1);
    border-radius: 12px;

    background-color: var(--color2);

    width: 80vw;
    min-height: 40vh;

    padding: 20px;
}

.input {
    width: 100%;
    padding: 10px;

    margin: 10px 0;

    border: 4px solid var(--linear-color1) ;
    border-radius: 10px;
}

.boxes {
    width:  100%;
    min-height: 2vh;

    border: 2px solid var(--color3);
    border-radius: 5px;
    box-shadow: 6px 6px var(--shadow-color2);

    padding: 10px;
    margin: 10px 0;
}

.heading-text {
    display: inline-block;
    margin: 20px 20px 0 0;
}

#done-text {
    text-decoration: line-through;
}

hr {
    color: var(color1);
    border: 2px solid;
    margin: 20px 0
}

/* Reverse the text for Javascript */
.reverse {
    display: flex;
    flex-direction: column-reverse;
}

@media only screen and (max-width: 800px) {
    .container {
        box-shadow: 8px 8px var(--shadow-color1);
        border-radius: 8px;
    }
}